.cabecalho__icones {
    display: flex;
    align-items: center;
}

.cabecalho__icone__search {
    color: var(--preto-fraco);
}

.cabecalho__icone__user {
    color: var(--preto-fraco);
    margin: 0 .5rem;

}

.cabecalho__icone__cart {
    color: var(--fundo-secundario);
}

@media screen and (min-width:1024px) {

    .cabecalho__icone__cart,
    .cabecalho__icone__search,
    .cabecalho__icone__user {
        font-size: 1.2rem;
    }
}