.cabecalho__titulo {
    display: flex;
    align-items: center;
}

.cabecalho__logo {
    color: var(--fundo-secundario);
    margin-right: .5rem;
}

@media screen and (min-width:1024px) {

    .cabecalho__titulo,
    .cabecalho__logo {
        font-size: 1.2rem;
    }
}