.banner__info {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.banner__titulo {
    font-size: 1.3rem;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    padding: .5rem 0;
    text-shadow: var(--sombra-titulo)
}

.banner__descricao {
    background-color: var(--fundo-secundario);
    text-align: center;
    color: white;
}

@media screen and (min-width:768px) {
    .banner__titulo {
        font-size: 1.75rem;
    }

    .banner__descricao,
    .banner__botao {
        font-size: 1.25rem;
    }
}

@media screen and (min-width:1024px) {
    .banner__info {
        padding: 2rem;
    }

    .banner__titulo {
        font-size: 2rem;
    }

    .banner__descricao,
    .banner__botao {
        font-size: 1.5rem;
    }
}