.rodape__contato {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    width: 90%;
    margin: auto;
}

.rodape__botao {
    align-self: flex-start;
    margin-top: .5rem;
}

.span__nome,
.span__mensagem {
    color: var(--fundo-secundario);
    text-align: start;
}

@media screen and (min-width:768px) {
    .rodape__contato {
        width: 100%;
        padding: 1rem 0;
    }
}

@media screen and (min-width:1024px) {
    .rodape__contato {
        padding-top: 0;
    }
}