.rodape__caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
}

.rodape__endereco,
.rodape__telefone,
.rodape__whatsapp,
.rodape__atendimento {
    font-size: .8rem;
    color: var(--preto-fraco);
    text-align: center;
    padding: .5rem 0;
}

.rodape__icone__caixa {
    font-weight: 700;
}

.rodape__sac {
    padding-top: 1.5rem;
}

@media screen and (min-width:768px) {
    .rodape__caixa {
        width: 35%;
        padding: 0 2.5%;
        justify-content: space-around;
    }
}

@media screen and (min-width:1024px) {
    .rodape__caixa {
        width: 25%;
        padding-left: 2%;
        align-items: flex-start;
    }

}