.barra__pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    padding: .5rem 0;
    z-index: 1000;
    overflow: hidden;
    background-color: var(--fundo-secundario);
    transform: translateY(-100%);
    transition: transform 1s;
}

.barra__pesquisa.expandir {
    top: 0;
    transform: translateY(0);
}

.barra__formulario {
    display: flex;
    justify-content: center;
    width: 100%;
}

.barra__pesquisa__input {
    position: relative;
    width: 90%;
    padding: .5rem;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    outline: none;
    border: none;
    border-radius: 1rem;
}

.barra__pesquisa__botao {
    font-size: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 30%;
}

.barra__input__icone {
    font-weight: 700;
    color: var(--preto-forte);
}

@media screen and (min-width:768px) {
    .barra__pesquisa {
        display: none;
    }
}