:root {
    --fundo-primario: #f0e8e8;
    --fundo-secundario: #ce2c2c;

    --preto-forte: #0e0e0e;
    --preto-fraco: #1b1919;

    --sombra-titulo: 1px 0px 0px rgba(222, 21, 21, 0.5);
}

body {
    background-color: var(--fundo-primario);
    font-family: 'Work Sans', sans-serif;
    line-height: normal;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    line-height: 0;
    color: transparent;
}

strong {
    color: var(--fundo-secundario);
}

nav {
    display: flex;
}

.tudo {
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    margin: 0 5%;
}

/* Div produtos */

.caixa__produto {
    display: grid;
    margin: 0 auto;
    padding: 5%;
    width: 80%;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(222, 21, 21, 0.5);
}

.produto__imagem {
    position: relative;
}

.produto__img {
    width: 100%;
    height: 300px;
    border-radius: inherit;
}

.produto__excluir,
.produto__editar {
    display: none;
    padding: .5rem;
    cursor: pointer;
}

.produto__excluir {
    background-color: var(--fundo-secundario);
    position: absolute;
    top: 0;
    left: 0;
}

.icone__excluir {
    color: white;
}

.produto__editar {
    background-color: var(--fundo-secundario);
    position: absolute;
    top: 0;
    right: 0;
}

.icone__editar {
    color: white;
}

.produto__id {
    display: none;
}

.produto__descricao {
    margin: .5rem 0;
    font-weight: 700;
    text-align: center;
}

.produto__valor {
    font-size: 1.2rem;
    color: var(--preto-fraco);
    text-align: center;
    margin-bottom: .5rem;
}

.produto__desconto {
    color: var(--fundo-secundario);
}

.produto__valorprazo {
    font-size: 1.2rem;
    color: var(--preto-forte);
    margin-bottom: .5rem;
}

.produto__botao {
    padding: 1rem;
}

/* Div input e label */

.caixa__input {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: .5rem 0;
    border-radius: 2px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}

.input {
    display: flex;
    width: 100%;
    padding: 6% 2.5% 3% 2.5%;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    border: none;
    border-radius: 2px;
}

.input:hover,
.input:valid,
.input:focus {
    outline: none;
    border-bottom: 2px solid var(--fundo-secundario);
}

.input__textarea {
    resize: none;
    box-sizing: border-box;
}

.label {
    color: var(--preto-fraco);
    font-weight: 300;
    position: absolute;
    top: 25%;
    left: 2%;
    pointer-events: none;
    transition: 0.2s ease all;
}

.label__textarea {
    top: 10%;
}

.label__id {
    color: var(--fundo-secundario);
    font-size: .8rem;
    font-weight: 300;
    position: absolute;
    top: 5%;
    left: 2%;
    pointer-events: none;
    transition: 0;
}

.input:hover+.label,
.input:valid+.label,
.input:focus-within+.label {
    top: 5%;
    font-size: .8rem;
    color: var(--fundo-secundario);
}

.caixa__input--textarea {
    display: flex;
    height: 15vh;
}

.input--textarea {
    resize: none;
    box-sizing: border-box;
}

.label--textarea {
    top: 15%;
}

/* bottons */

.botao {
    background-color: var(--fundo-secundario);
    color: white;
    display: flex;
    justify-content: center;
    padding: .5rem;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 5px;
    transform: translateX(0) scale(1);
    transition: 0.5s;
}

.botao:hover {
    cursor: pointer;
    transform: translateX(2px) scale(1.1);
}

@media screen and (min-width:768px) {
    .caixa__produto {
        width: 40%;
        flex-wrap: nowrap;
        padding: 2.5%;
    }

    .botao {
        font-size: 1.25rem;
    }

    .input {
        padding: 5% 2% 2% 2%;
    }
}

@media screen and (min-width:1024px) {
    .caixa__produto {
        width: 20%;
        padding: 1.5%;
    }
}