.cabecalho__icone__search {
    display: none;
}

.cabecalho__icone__cart {
    display: none;
}

.login {
    background-color: white;
    padding: 40% 10%;
}

@media screen and (min-width:768px) {
    .login {
        padding: 25% 15%;
    }
}

@media screen and (min-width:1024px) {
    .login {
        padding: 10% 30%;
    }
}